body{
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 30px;
    color: #333;
    background-image: url('./img/tela-de-fundo.jpg');
    background-position: center;
    background-size: cover;
}

.app{
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 10px;
}
P{
    margin: 10px 0;
}

input{
    box-sizing: border-box;
}


button{
    background-color: #09ff00;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: .3s;
    font-weight: bold;
}

button:hover{
    opacity: 2;
    
}

.todo-list{
   margin-bottom: 20px; 
   padding-bottom: 20px; 
  
}

.todo{
    background-color: #fff;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.complete{
    background-color: #5cb85c;
}

.remove{
    background-color: #d953af;
}

.todo-form{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #555;
    
}

input,select{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 100%;
}